.main {
    background-color: #d8b4fe;
    margin: 10px 10px 10px 10px;
    border-radius: 30px;
    height: 60px;
}
/*a.navbar-brand, a.navbar-brand:hover {
    color: white;
    font-size: 50px;
    font-family: 'Nunito', sans-serif;
}*/
